<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <log4net>
    <root>
      <level value="WARN" xdt:Transform="Replace"/>
    </root>
  </log4net>
  <appSettings>
    <add key="ServiceXmlPath" value="C:\\inetpub\\wwwroot\\Apollo\\20160709\\service-map.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="google:ClientId" value="767216821159-sq8hf95ush0lcmg1lr6cp95ucrhs1o9n.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="google:ClientSecret" value="-XjNUMM-NybiiRdzoU5CaiqO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="facebook:AppId" value="2061648340772880" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="facebook:AppSecret" value="ce9951b502457fc0e56386d9aab2159d" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="twitter:ConsumerKey" value="Av4w3o3uLztwa9d9Btq6xhMz5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="twitter:ConsumerSecret" value="uDnZS0NEWjaMptx0ega1cHluSyi6QDFiak0aa1Aze5ucyvdXBB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="recaptcha:SiteKey" value="6LdIcU4UAAAAADkSXeI6Rc6sGnCFDRIIyK2ZbURh" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="recaptcha:SecretKey" value="6LdIcU4UAAAAAJgXP7ZJdqD8KTJ0RaBmt6XX0RjQ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
