<table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="395">
                        <a href="http://www.apollo.com?metrics=aban">
                            <img src="http://www.apollo.com/Images/emailAssets/ec.gif" alt="APOLLO.COM"
                                border="0"></a><img src="http://www.apollo.com/Images/emailAssets/p.gif" alt=" - "
                                    width="99" height="78">
                    </td>
                    <td width="57">
                        <img src="http://www.apollo.com/Images/emailAssets/lp.gif" alt="bag" width="57"
                            height="78">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.apollo.com/c-online-pharmacy?metrics=aban">
                <img src="http://www.apollo.com/Images/emailAssets/m1.gif" alt="Pharmacy   |   "
                    border="0"></a><a href="http://www.apollo.com/c-healthy-living?metrics=aban"><img
                        src="http://www.apollo.com/Images/emailAssets/m2.gif" alt="Healthy Living   |   "
                        border="0"></a><a href="http://www.apollo.com/c-beauty?metrics=aban"><img src="http://www.apollo.com/Images/emailAssets/m3.gif"
                            alt="Beauty   |   " border="0"></a><a href="http://www.apollo.com/c-fine-fragrances?metrics=aban"><img
                                src="http://www.apollo.com/Images/emailAssets/m4.gif" alt="Fine Fragrances   |   "
                                border="0"></a><a href="http://www.apollo.com/shop-by-brand?metrics=aban"><img
                                    src="http://www.apollo.com/Images/emailAssets/m5.gif" alt="Personal Care   |   "
                                    border="0"></a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/red_rounded_top.gif" alt="-"
                width="600" height="9" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#990000">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="10px">
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-990000.gif" alt="-" />
                    </td>
                    <td>
                        <font face="Georgia, Arial, Helvetica, sans-serif" size="5" color="#FFF">Save an additional <strong>@@PromoValue</strong>
                            on your order.</font><br /><font face="Georgia, Arial, Helvetica, sans-serif" size="4" color="#FFF">Please use promotional code <strong>@@PromoCode</strong>.</font>
                        <br />
                        <br />
                        <font face="Arial, Helvetica, sans-serif" size="-1" color="#FFF">We can offer you an additional 
                            <font face="Georgia, Arial, Helvetica, sans-serif" size="3" color="#FFF"><strong>@@PromoValue</strong></font> discount to help you complete your order, if completed @@Expiry.
                            Just enter the promotional code <font face="Georgia, Arial, Helvetica, sans-serif" size="3" color="#FFF"><strong>@@PromoCode</strong></font> at the basket stage of the checkout.</font>
                    </td>
                    <td width="10px">
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-990000.gif" alt="-" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/red_rounded_bottom.gif" alt="-"
                width="600" height="9" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/grey_rounded_top.gif" alt="-"
                width="600" height="10" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#eeeeee">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-eee.gif" />
                    </td>
                    <td>
                        <font face="Georgia, Arial, Helvetica, sans-serif" size="5" color="#EC6515">Hi @@CustomerName,
                            can we help?</font>
                        <br />
                        <br />
                        <font face="Arial, Helvetica, sans-serif" size="-1">We noticed that you did not complete
                            the check-out process. Did you experiance a problem with our website? If so we would
                            like to help.
                            <ul>
                                <li>If you would like information on our Terms and Conditions, <a href="http://www.apollo.com/terms-and-conditions?metrics=aban"><font color="#EC6515">click here</font></a></li>
                                <li>For information on delivery charges, <a href="http://www.apollo.com/delivery-information?metrics=aban"><font color="#EC6515">click here</font></a></li>
                                <li>If you have any other questions, email us at <a href="mailto:customerservices@apollo.com"><font color="#EC6515">customerservices@apollo.com</font></a></li>
                                <li>Feel free to talk to one of our customer services representitives through live chat
                                    via the homepage, or call us on +44 (0)1234 567 890. Lines are open between 9:30am-5:00pm,
                                    Monday - Friday, excluding bank holidays</li>
                            </ul>
                            To complete your order, <a href="http://www.apollo.com?metrics=aban"><font color="#EC6515">
                                return</font></a> to APOLLO.COM.<br />
                    </td>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-eee.gif" />
                    </td>
                </tr>
            </table>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/grey_rounded_bottom.gif" alt="-"
                width="600" height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/black_rounded_top.gif" alt="-"
                width="600" height="9" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#000000">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <font face="Georgia, Arial, Helvetica, sans-serif" size="5" color="#EC6515">Items in
                                        your basket</font>
                                </td>
                                <td align="right">
                                    <a href="http://www.apollo.com?metrics=aban">
                                        <img src="http://www.apollo.com/Images/emailAssets/gotoEchemBut.gif" /></a>
                                </td>
                            </tr>
                        </table>
                        <font face="Arial, Helvetica, sans-serif" color="#ffffff" size="-1">To make it easier
                            for you, here are the items that where in your basket. Click on an item to view
                            more information<br />
                    </td>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="580"
                            height="10" />
                        <img src="http://www.apollo.com/Images/emailAssets/bw_rounded_top.gif" alt="-"
                            width="580" height="9" />
                    </td>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            @@CartItems
                        </table>
                    </td>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/bw_rounded_bottom.gif" alt="-"
                            width="580" height="9" />
                    </td>
                    <td>
                        <img src="http://www.apollo.com/Images/emailAssets/spacer-10px-000.gif" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/black_rounded_bottom.gif"
                alt="-" width="600" height="10" />
        </td>
    </tr>
    @@AdditionalHTML
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="10" />
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.apollo.com/shop-by-brand?metrics=aban">
                <img src="http://www.apollo.com/Images/emailAssets/tb.png" alt="Top Brands" border="0"></a><br />
            <a href="http://www.apollo.com/buy-vichy?metrics=aban">
                <img src="http://www.apollo.com/Images/emailAssets/b1.gif" alt="L'Oreal" border="0"></a><a
                    href="http://www.apollo.com/buy-clarins?metrics=aban"><img src="http://www.apollo.com/Images/emailAssets/b3.gif"
                        alt="Vichy" width="118" height="65" border="0"></a><a href="http://www.apollo.com/buy-caudalie?metrics=aban"><img
                            src="http://www.apollo.com/Images/emailAssets/b2.gif" alt="Lancome" border="0"></a><a
                                href="http://www.apollo.com/buy-loreal?metrics=aban"><img src="http://www.apollo.com/Images/emailAssets/b4.gif"
                                    alt="Caudalie" width="117" height="65" border="0"></a><a href="http://www.apollo.com/buy-lancome?metrics=aban"><img
                                        src="http://www.apollo.com/Images/emailAssets/b5.gif" alt="Clarins" border="0"></a><br />
            <a href="http://www.apollo.com/buy-ahava?metrics=aban">
                <img src="http://www.apollo.com/Images/emailAssets/b6.gif" alt="Ahava" border="0"></a><a
                    href="http://www.apollo.com/buy-avene?metrics=aban"><img src="http://www.apollo.com/Images/emailAssets/b7.gif"
                        alt="Avene" border="0"></a><a href="http://www.apollo.com/buy-aderma?metrics=aban"><img
                            src="http://www.apollo.com/Images/emailAssets/b8.gif" alt="Aderma" border="0"></a><a
                                href="http://www.apollo.com/buy-la-roche-posay?metrics=aban"><img src="http://www.apollo.com/Images/emailAssets/b9.gif"
                                    alt="La Roche Posay" border="0"></a><a href="http://www.apollo.com/buy-rene-furterer?metrics=aban"><img
                                        src="http://www.apollo.com/Images/emailAssets/b10.gif" alt="Rene Furterer"
                                        border="0"></a><br />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://www.apollo.com/Images/emailAssets/p.gif" alt="-" width="600"
                height="15" />
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <font color="#666666" size="-2" face="Verdana, Arial, Helvetica, sans-serif">&copy;
                    APOLLO.COM 2020 - <a href="http://www.apollo.com/terms-and-conditions">Terms &amp; conditions</a> apply. 
                </font>
            </center>
        </td>
    </tr>
</table>
