<div class="mini-summary">
    <h5>CART ITEMS : <span class="cart-quantity">(@ViewBag.Quantity)</span></h5>
    <h5>SUBTOTAL : <span class="cart-subtotal">@Html.Raw(ViewBag.Subtotal)</span></h5>
    <span class="caret"></span>
</div>
