<div class="col-xs-12 hidden-lg">    
    <a href="@Url.RouteUrl("Account")" class="widget col-xs-6 no-margin-top">
        <div class="content account no-margin-bottom">
            <span class="title-big-box account"></span>
            <i class="fa fa-user fa-4x"></i>
            <small class="title">Account</small>
        </div>
    </a>    
    <a href="@Url.RouteUrl("Customer Orders")" class="widget col-xs-6 no-margin-top no-gutter-right">
        <div class="content order no-margin-bottom">
            <span class="title-big-box order"></span>
            <i class="fa fa-heart fa-4x"></i>
            <small class="title">Orders</small>
        </div>
    </a>
    <a href="@Url.RouteUrl("Account Primary Address")" class="widget col-xs-6">
        <div class="content address">
            <span class="title-big-box address"></span>
            <i class="fa fa-book fa-4x"></i>
            <small class="title">Address</small>
        </div>
    </a>
    <a href="@Url.RouteUrl("Customer Reward Points")" class="widget col-xs-6">
        <div class="content reward">
            <span class="title-big-box reward"></span>
            <i class="fa fa-gift fa-4x"></i>
            <small class="title">Reward</small>
        </div>
    </a>
</div>
