<div class="col-xs-12">
    <a href="@Url.RouteUrl("Account")" class="widget col-xs-3">
        <div class="content account">
            <span class="title-box account"></span>
            <i class="fa fa-user fa-2x"></i>            
            <small class="center-block">Account</small>
        </div>
    </a>

    <a href="@Url.RouteUrl("Customer Orders")" class="widget col-xs-3">
        <div class="content order">
            <span class="title-box order"></span>
            <i class="fa fa-heart fa-2x"></i>
            <small class="center-block">Orders</small>
        </div>
    </a>

    <a href="@Url.RouteUrl("Account Primary Address")" class="widget col-xs-3 ">
        <div class="content address">
            <span class="title-box address"></span>
            <i class="fa fa-book fa-2x"></i>
            <small class="center-block">Address</small>
        </div>
    </a>

    <a href="@Url.RouteUrl("Customer Reward Points")" class="widget col-xs-3">
        <div class="content reward">
            <span class="title-box reward"></span>
            <i class="fa fa-gift fa-2x"></i>
            <small class="center-block">Reward</small>
        </div>
    </a>
</div>

<div class="clearfix"></div>