@{
    Html.AddTitleParts("Job Opportunities");
}

<div id="about">
    <div class="row hidden-xs header">
        <div class="col-sm-5">
            <div class="col-sm-offset-6">
                <h4><span>Ca</span>reers at Apollo.co.uk</h4>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="visible-xs">
            <h4>Careers at Apollo.co.uk</h4>
        </div>
        <div class="content">
            <h5>Welcome to Apollo.co.uk</h5>
            <img src="/content/img/title-underline.png" alt="" class="img-responsive">
            <p>If you wish to be part of a successful team and have the opportunity to progress in a rewarding environment please refer to our job vacancies listed below. To apply for any of these positions please email a copy of your CV with a covering letter to jobs@Apollo.co.uk, stating which position you are applying for.</p>
            <p>Please note: Apollo.co.uk do not accept introductions/CVs from headhunters, agencies or suppliers that have not signed a formal agreement. Therefore, any CV received from an unapproved supplier will be considered unsolicited, and the company will not be obligated to pay a referral fee.</p>
            <p><a href="mailto:jobs@Apollo.co.uk">jobs@Apollo.co.uk</a></p>            
            <h5>Current Vacancy</h5>
            <img src="/content/img/title-underline.png" alt="" class="img-responsive">
            <h6>Graduate / Junior Web Developer</h6>
            <p>
                About the job:<br/>
                We are currently looking to recruit a Graduate or Junior ASP.Net Developer to join our Web Development team to work on a number of in-house projects as well as external websites and applications. We would like potential candidates to have web development experience, either commercial or non-commercial and be able to demonstrate their ability through examples of previous work.
            </p>
            <p>Salary:<br/>
                Negotiable on experience
            </p>
            <p>
                Key responsibilities:<br/>
                <ul>
                    <li>- Building database-driven websites and web applications in ASP.Net using C# and web forms</li>
                    <li>- Develop a website which matches the provided designs in Adobe Illustrator</li>
                    <li>- Developing in front-end languages such as HTML and CSS as well as ASP.Net</li>
                    <li>- Liaise with external Stakeholders</li>
                    <li>- Be able to meet tight deadlines</li>
                </ul>
            </p>
            <p>
                Key skills:<br/>
                <ul>
                    <li>- C#</li>
                    <li>- HTML and CSS</li>
                    <li>- JavaScript</li>
                    <li>- SQL Server</li>
                    <li>- Strong analytical &amp; troubleshooting skills</li>
                    <li>- Good interpersonal skills</li>
                    <li>- Good communication skills</li>
                    <li>- No commercial experience is required, but you must have web development experience</li>
                </ul>                
            </p>
            <p>
                Attitudes:<br/>
                <ul>
                    <li>- Responsibility</li>
                    <li>- Adaptability</li>
                    <li>- Attention to detail</li>
                    <li>- Self-sufficiency</li>
                    <li>- Self-motivation</li>
                    <li>- Good time management</li>
                </ul>                
            </p>
            <p>
                Apply for this position:<br/>
                To apply for this position, please email a copy of your CV with a covering letter to <a href="mailto:jobs@Apollo.co.uk">jobs@Apollo.co.uk</a> stating which position you're applying for as shown above.
            </p>
        </div>
    </div>
</div>