<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification hidden-xs">
    <div class="container">
        <div class="text-center">
            Cookies help us deliver our services. By using our services, you agree to our use of cookies.
            <a class="learn-more" href="@Url.RouteUrl("Privacy Policy")">Learn more</a>
            <button type="button" class="ok-button" id="eu-cookie-ok">I Accept</button>            
        </div>
    </div>
</div>
