@{
    Html.AddTitleParts("Gone");
}

<div id="breadcrumb">
    <div class="container list hidden-xs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#" class="active">Gone</a></li>
        </ul>
    </div>
</div>

<div id="error">
    <div class="container">
        <div class="row">
            <div class="content text-center">
                <span class="invalid glyphicon glyphicon-exclamation-sign"></span>
                <div class="col-sm-12"><h3>OOPS! Something wrong with your request.</h3></div>
                <p>Sorry, the requested page is no longer available and has been intentionally removed.</p>
                <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                    <a href="/" class="btn btn-default">CONTINUE TO HOME PAGE</a>
                </div>
            </div>
        </div>
    </div>
</div>