@{
    Html.AddTitleParts("Privacy Policy");
}

@{ Html.RenderPartial("_OfferStrips"); }

<div id="terms">
    <div class="row hidden-xs header">
        <div class="col-sm-5">
            <div class="col-sm-offset-6">
                <h4><span>Pr</span>ivacy Policy</h4>
            </div>
        </div>
    </div>
    <div class="important">
        <div class="container">
            <a href="/"><img src="/content/img/logo-medium.svg" alt="Apollo" class="hidden-xs" /></a>
            <p>Put your "Privacy Policy" short description here. You can edit this in the admin site.</p>
        </div>
    </div>
    <div class="container">        
        <div class="visible-xs">
            <h4>Privacy Policy</h4>
        </div>
        <div class="content">
            Put your "Privacy Policy" information here. You can edit this in the admin site.
        </div>
    </div>
</div>
