@{
    Html.AddTitleParts("Terms and Conditions");
}

@{ Html.RenderPartial("_OfferStrips"); }

<div id="terms">
    <div class="row hidden-xs header">
        <div class="col-sm-7 col-lg-5">
            <div class="col-sm-offset-6">
                <h4><span>Te</span>rms and Conditions</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="/"><img src="/content/img/logo-medium.svg" alt="Apollo" class="hidden-xs" /></a>
        <div class="visible-xs">
            <h4>Terms and Conditions</h4>
        </div>
        <div class="content">
            Put your "Terms and Conditions" information here. You can edit this in the admin site.
        </div>
    </div>
</div>