<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApolloConfig" type="Apollo.Core.Configuration.ApolloConfig, Apollo.Core" requirePermission="false" />
    <section name="supportedCards" type="Apollo.AdminStore.WebForm.Classes.SupportedCardSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\store-admin.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{DATE} %level [%logger] - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <ApolloConfig>
    <DynamicDiscovery Enabled="true" />
    <!--<Engine Type="" />-->
    <!--<Themes basePath="~/Themes/" />-->
    <!-- you can get the latest version of user agent strings at http://user-agent-string.info/ -->
    <!--<UserAgentStrings databasePath="~/App_Data/uas_20140809-02.ini" />-->
  </ApolloConfig>
  <supportedCards>    
    <card name="MasterCard" cardType="MC" hasStartDate="false" hasIssueNumber="false" />    
    <card name="Visa" cardType="VISA" hasStartDate="false" hasIssueNumber="false" />
    <card name="American Express" cardType="AMEX" hasStartDate="false" hasIssueNumber="false" />
  </supportedCards>
  <connectionStrings>
    <add name="ApolloContext" connectionString="Data Source=localhost;Initial Catalog=Apollo;Integrated Security=True;Persist Security Info=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>    
    <add key="ServiceXmlPath" value="C:\\Users\\hanchee\\Documents\\Visual Studio 2017\\Projects\\Apollo\\service-map.xml" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CreatePluginsDirectoryOnStartup" value="False" />
  </appSettings>
  <system.web>
    <sessionState timeout="720" cookieName="ea_s" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" executionTimeout="43200" maxRequestLength="104856" requestValidationMode="2.0" delayNotificationTimeout="50" />    
    <authentication mode="Forms">
      <forms name="ea_a" slidingExpiration="true" loginUrl="/login.aspx" requireSSL="false" defaultUrl="dashboard.aspx" timeout="600" />      
    </authentication>
    <authorization>
      <allow roles="Administrator,Customer Service,Despatch,Marketing,Report,Inventory" />
      <deny users="?" />
    </authorization>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <add type="Apollo.AdminStore.WebForm.Classes.CustomRoleProvider" name="CustomRoleProvider" />
      </providers>
    </roleManager>
    <profile defaultProvider="CustomProfileProvider" automaticSaveEnabled="false">
      <providers>
        <clear />
        <add name="CustomProfileProvider" type="Apollo.AdminStore.WebForm.Classes.CustomProfileProvider" />
      </providers>
      <properties>
        <add name="ProfileId" type="System.Int32" />
        <add name="FullName" type="System.String" />
      </properties>
    </profile>
    <pages enableViewState="true">
      <namespaces>
        <add namespace="Apollo.AdminStore.WebForm.Classes" />
        <add namespace="Apollo.Core.Model" />
      </namespaces>
      <controls>        
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="Apollo" assembly="Apollo.AdminStore.WebForm" namespace="Apollo.AdminStore.WebForm.Classes"></add>
        <add tagPrefix="FTB" assembly="FreeTextBox" namespace="FreeTextBoxControls"></add>
      </controls>
    </pages>
    
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
  <httpModules>
      <!-- This section is used for IIS6 -->
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" />
      <add name="AttributeInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" />
    </httpModules></system.web>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="jscript">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="system">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="report/report_orders.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Report" />
        <deny users="*" />
      </authorization>     
    </system.web>
  </location>
  <location path="report/report_registrations.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Report" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="report/report_products.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Report" />
        <allow roles="Inventory" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="report/report_brands.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Report" />
        <allow roles="Inventory" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="catalog">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Customer Service" />
        <allow roles="Inventory" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="marketing">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Marketing" />
        <deny users="*" />
      </authorization>      
    </system.web>
  </location>
  <location path="customer">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Customer Service" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fulfillment">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Customer Service" />
        <allow roles="Despatch" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="sales">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Customer Service" />
        <allow roles="Despatch" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear />
        <!-- removes the existing default document list -->
        <add value="dashboard.aspx" />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
  <!-- This section is used for IIS7 --><modules>
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
	  <add name="AttributedInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
    </modules></system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>